<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Compliance</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

    <div th:replace="layout/header :: headerFragment"></div>

    <div class="content">

        <div class="container my-5">
            <h3 class="mb-4">Cadastro de Compliance</h3>

            <form th:action="@{/compliances/save}" th:object="${compliance}" method="post">
                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <div class="input-group-text">Id</div>
                    </div>
                    <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Título</div>
                    </div>
                    <input type="text" class="form-control" id="titulo" th:field="*{titulo}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Tipo</div>
                    </div>
                    <input type="text" class="form-control" id="tipo" th:field="*{tipo}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Data de Entrada</div>
                    </div>
                    <input type="text" class="form-control" id="dataEntrada" th:field="*{dataEntrada}">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Corpo</span>
                    <textarea class="form-control large-textarea" aria-label="Corpo" id="corpo" th:field="*{corpo}"></textarea>
                </div>

                <div class="d-flex justify-content-between">
                    <div>
                        <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                        <a th:href="@{/compliances}" class="btn btn-danger btn-sm">Cancelar</a>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm ml-auto">Anexar PDF</button>
                </div>
            </form>

        </div>
    </div>

    <div th:replace="layout/footer :: footerFragment"></div>

</body>

</html>